<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Services</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/service1.css') }}">
    <section class="services" id="services">
        <div class="heading">
            
            <span>BEST SERVICES</span>
            <h1>Explore Out Top Deals<br> From Top Rated Dealers</h1>
        </div>
        <div class ="text-center">
            <a href="status">
                <button>Status Report</button>
            </a>
              
            <br>
            <br>
            <a href="Monthly">
                <button>End of Month</button>
            </a>
            <a href="customer">
                <button>Customer Database</button>
            </a>
              
        </div>
    </section>
</head>
<body>

</body>
</html>