<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Info</title>
    <meta name="viewport" content="width=device.width", initial-scale="1">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/contact.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
</head>
<body>
    <div class="contact-info">
        <div class="card">
            <i class="card-icon far fa-envelope"></i>
            <p>budget_drive@gmail.com</p>
        </div>

        <div class="card">
            <i class="card-icon fas fa-phone"></i>
            <p>0300-1234567</p>
        </div>

        <div class="card">
            <i class="card-icon fas fa-map-marker-alt"></i>
            <p>Karachi, Pakistan</p>
        </div>
    </div>

</body>
</html>