<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>BUDGET DRIVE | CAR RENTAL SOLUTION</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/home.css') }}">
</head>
<body>
    <header>
            <a href="#" class="logo">BUDGET DRIVE</a>

            <u1 class="navbar">
                <li><a href="#">Home</a></li>
                <li><a href=contact>Contact</a></li>
            </u1>
            <a href="Login" class="book">SIGN UP or SIGN IN</a>

    </header>
      <section class="home">
       <div class="text">
            <h1>Looking for a Car?</h1>
            <p>Let's BUDGET DRIVE!</p>
            <div class="store">
                <img src="static/styles/GP.jpg" alt="">
            </div>
        </div>
          <div class="image">
              <img src="static/styles/BG.jpg" alt="">;
          </div>
           <div class="form-container">

           


    </section>

</body>
</html>



</body>
</html>